<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{/js/bootstrap/js/jquery-3.6.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap/js/bootstrapValidator.min.js}"></script>
    <link th:href="@{/js/bootstrap/css/bootstrapValidator.min.css}" rel="stylesheet"/>

</head>
<body>

<h1 class="text-center">ADSI-单点核酸记录查询</h1>
<hr/>
<form class="form-inline text-center" method="post">

    <div class="form-group">
        <label>查询姓名(选填)：</label>
        <input type="text" class="form-control" th:name="xm" th:value="${xm}" id="xm" placeholder="请输入查询目标姓名">
    </div>
    <div class="form-group">
        <label>查询身份证号码(必填)：</label>
        <input type="text" class="form-control" th:name="sfzh" th:value="${sfzh}" id="sfzh" placeholder="请输入查询目标身份证号码">
    </div>

    <button type="submit" class="btn btn-default" th:onclick="postData()">查询</button>

    <span id="loading" class="loadingcss" style="background:#ffffff">
	<p style='color:red;font-size:64px;'>核酸检测结果为异步请求，耗时较长请耐心等待。。。。。。</p>
    </span>

</form>

<hr/>

<table class="table table-bordered">
    <h1 class="text-center">查询结果</h1>
    <thead>
    <tr>
        <th>姓名</th>
        <th>身份证号码</th>
        <th>采样时间</th>
        <th>检测时间</th>
        <th>采样结果</th>
        <th>采样地点</th>
        <th>采样类别</th>
        <th>检测公司</th>
    </tr>
    </thead>

    <!--    查询成功-->
    <div th:if="${hesuanList != null}">
        <tbody>
        <!--/*@thymesVar id="hesuanList" type="java.util.List"*/-->
        <tr th:each="hesuan:${hesuanList}">
            <th th:text="${hesuan.name}"></th>
            <th th:text="${hesuan.cardNo}"></th>
            <th th:text="${hesuan.collectionTime}"></th>
            <th th:text="${hesuan.testCompleteTime}"></th>
            <th th:text="${hesuan.testCompleteStatus}"></th>
            <th th:text="${hesuan.appointmentCollectionName}"></th>
            <th th:text="${hesuan.sampling}"></th>
            <th th:text="${hesuan.receiveTestPointName}"></th>
        </tr>
        </tbody>
    </div>

</table>

<hr/>
<!--查询出错-->
<div th:if="${code == '400'}">
    <h1 class="text-center" th:text="'查询过程中出错，错误信息：'+${msg}"></h1>
</div>

<hr/>
<!--查询成功，但是未返回数据-->
<div th:if="${hesuanList == null || hesuanList==''}">
    <h1 class="text-center"></h1>
</div>

</body>

<script>
    $(function () {
        $('form').bootstrapValidator({
            fields: {
                sfzh: {
                    validators: {
                        notEmpty: {
                            message: '身份证号码不能为空'
                        }
                    }
                }
            }
        });
    });

    //等待请求时弹出loading框
    function postData() {
        //判断是否输入框都有值，都不为空才弹出loading框
        if (!($("#sfzh").val() == undefined || $("#sfzh").val() == '')) {
            $("#loading").show()
        }
    }
</script>

<style type="text/css">
    .loadingcss {
        height: 30%;
        width: 30%;
        position: absolute;
        left: 40%;
        top: 37%;
        background-color: rgba(0, 0, 0, 0.4); /*显示遮罩层背景颜色和透明度*/
        /*如果上边的效果不理想可以分开实现背景颜色的透明度,背景颜色和透明度可自行调节*/
        /*
            background-color: #ccc;
            filter:alpha(Opacity=80);-moz-opacity: 0.5;opacity: 0.5;
        */
        display: none;
    }
</style>
</html>